
:root {
   --dark-blue: hsl(218, 44%, 22%);
   --light-blue: hsl(220, 15%, 55%);
   --light-gray: hsl(212, 45%, 89%);
   font-size: 16px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {   
   font-family: 'Outfit', sans-serif;
   background-color: var(--light-gray);
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: row; 
   justify-content: center;
   align-items: center; 
}

main {   
   width: 320px;
   height: 500px;
   border-radius: 16px;
   min-width: 320px;
   overflow: hidden;
   background-color: white;
   padding: 16px;
   text-align: center;
}

.qr-code {
   max-width: 100%;
   border-radius: 16px;   
   overflow: hidden;   
   margin-bottom: 1.5rem;
   object-fit: cover;
}

h1 {
   font-size: 1.35rem;
   line-height: 1.6rem;
   font-weight: 700;
   color: #19304e;
   padding: 0 8px;
}

p {
   color: #94959e;
   margin-top: 1rem;
   font-weight: 400;
   padding: 0 8px;
}